/**** Main variables ****/

/*
#7A5959 - Brown
#5B1E26 - dark red/brown
#FAF8F5 - eggshell white
#F4E1D2 - beige
#C8D4E0 - baby blue
#215D99 - royal blue


.montserrat-<uniquifier> {
  font-family: "Montserrat", serif;
    font-size: 1rem;
  font-weight: 130;
  font-style: normal;
}

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 200;
  font-style: normal;
}
*/

:root {
  --primary-font: "Montserrat", serif;
  --heading-font: "Playfair Display", serif;
  --text-color: #000000;
  --background-color: #faf8f5;

  --h1-desktop-size: 4rem;
  --h1-mobile-size: 3rem;
  --p-size: 1rem;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--heading-font);
  font-size: 3rem;
  font-weight: 200;
}

/******* logo header *******/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /*  position: sticky; */
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background-color: #7a5959;
  z-index: 1000;
}

.logo img {
  width: 120px;
  height: 100px;
  margin-left: 60px;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  color: #faf8f5;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-weight: 130;
  padding-top: 79px;
  padding-left: 60px;
  padding-right: 20px;
  font-size: 22px;
}

.menu a:hover {
  color: #5b1e26;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-right: -30px;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #faf8f5;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: #faf8f5;
  padding-bottom: 5px;
  position: relative;
}

.nav-link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 900px) {
  header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #7a5959;
    position: absolute;
    top: 116px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding-bottom: 20px;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    margin-right: 140px;
  }
  .nav-link {
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 5px;
    position: relative;
    display: inline;
  }

  .nav-link.active::after {
    content: "";
    display: none;
    width: 100%;
    height: 3px;
    border-radius: 60px;
    /*     background-color: #f9f93e; */
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .logo img {
    width: 100px;
    height: 80px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  nav.active .menu a {
    font-size: 18px;
    margin-right: 16px;
    padding-top: 5px;
  }
}

/*** footer ****/

footer {
  background-color: #7a5959;
  height: 820px;
}

.line-divider_2 {
  border: none;
  height: 1px;
  background-color: #faf8f5;
  margin-left: 6rem;
  margin-right: 6rem;
}

.footer-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 3em;
  padding-right: 3rem;
  padding-top: 3rem;
}

.form {
  padding-left: 12rem;
}

.links {
  padding-right: 6em;
}

.icon-link1,
.icon-link2,
.icon-link3 {
  color: #faf8f5;
  padding: 20px;
  font-size: 80px;
  text-align: center;
}

.footer-icons {
  display: grid;
  grid-template-rows: 1fr;
  padding-top: 65px;
}

.icon-link1 :hover {
  color: #5b1e26;
  transition: color 0.3s;
}

.icon-link2 :hover {
  color: #5b1e26;
  transition: color 0.3s;
}

.icon-link3 :hover {
  color: #5b1e26;
  transition: color 0.3s;
}

textarea {
  width: 340px;
  height: 150px;
  position: relative;
  border-radius: 30px;
  background-color: #b4a19f;
  border: none;
}

.form-felt {
  padding-top: 20px;
}

input {
  width: 232px;
  height: 48px;
  position: relative;
  border-radius: 30px;
  background-color: #b4a19f;
  border: none;
}

.p_contact {
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  font-weight: 180;
  color: #faf8f5;
  padding-left: 5px;
}

h2 {
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  font-weight: 380;
  color: #faf8f5;
  padding-left: 5px;
  padding-bottom: 9px;
}

.button {
  padding-top: 30px;
  padding-left: 240px;
}

.hover-knap {
  display: initial;
  padding: 6px 25px;
  font-family: "Montserrat", serif;
  font-weight: 130;
  font-size: 16px;
  color: #215d99;
  border: 1px solid #c8d4e0;
  border-radius: 58px;
  background-color: #c8d4e0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 80%;
}

.hover-knap:hover {
  color: #c8d4e0;
  background-color: #215d99;
  opacity: 80%;
}

.p-footer {
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  font-weight: 180;
  font-size: 14px;
  color: #faf8f5;
  text-align: center;
  padding-top: 2px;
}

.copyright-txt {
  padding-top: 8rem;
}

@media (max-width: 1100px) {
  footer {
    background-color: #7a5959;
    height: 700px;
  }

  .line-divider {
    border: none;
    height: 1px;
    background-color: #faf8f5;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .footer-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 3em;
    padding-right: 3rem;
    padding-top: 3rem;
  }

  .form {
    padding-left: 8rem; /** changed this **/
  }

  .links {
    padding-right: 3em; /** changed this **/
  }

  .footer-icons {
    display: grid;
    grid-template-rows: 1fr;
    padding-top: 40px; /** changed this **/
  }

  textarea {
    width: 290px; /** changed this **/
    height: 140px; /** changed this **/
    position: relative;
    border-radius: 30px;
    background-color: #b4a19f;
    border: none;
  }

  .form-felt {
    padding-top: 20px;
  }

  input {
    width: 202px; /** changed this **/
    height: 38px; /** changed this **/
    position: relative;
    border-radius: 30px;
    background-color: #b4a19f;
    border: none;
  }

  .p_contact {
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    font-weight: 180;
    color: #faf8f5;
    padding-left: 5px;
    padding-bottom: 8px;
  }

  h2 {
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #faf8f5;
    padding-left: 5px;
    padding-bottom: 8px;
  }

  .button {
    padding-top: 30px;
    padding-left: 210px;
  }

  .hover-knap {
    display: initial;
    padding: 6px 25px;
    font-family: "Montserrat", serif;
    font-weight: 130;
    font-size: 10px;
    color: #215d99;
    border: 1px solid #c8d4e0;
    border-radius: 58px;
    background-color: #c8d4e0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 80%;
  }

  .p-footer {
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    font-weight: 180;
    font-size: 14px;
    color: #faf8f5;
    text-align: center;
    padding-top: 2px;
  }

  .copyright-txt {
    padding-top: 3rem;
  }
}

@media (max-width: 740px) {
  footer {
    background-color: #7a5959;
    height: 1100px;
  }

  .footer-box {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 1em;
    padding-right: 1rem;
    padding-top: 3rem;
  }

  .line-divider_2 {
    border: none;
    height: 1px;
    background-color: #faf8f5;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .form {
    padding-left: 4rem; /** changed this **/
  }

  .links {
    padding-right: 1rem; /** changed this **/
  }

  .icon-link1,
  .icon-link2,
  .icon-link3 {
    color: #faf8f5;
    padding: 20px;
    font-size: 50px;
    text-align: center;
  }

  .footer-icons {
    display: grid;
    grid-template-rows: 1fr;
    padding-top: 80px; /** changed this **/
  }

  textarea {
    width: 290px; /** changed this **/
    height: 100px; /** changed this **/
    position: relative;
    border-radius: 30px;
    background-color: #b4a19f;
    border: none;
  }

  .form-felt {
    padding-top: 20px;
  }

  input {
    width: 230px; /** changed this **/
    height: 38px; /** changed this **/
    position: relative;
    border-radius: 30px;
    background-color: #b4a19f;
    border: none;
  }

  .button {
    padding-top: 30px;
    padding-left: 190px;
  }

  .hover-knap {
    display: initial;
    padding: 6px 25px;
    font-family: "Montserrat", serif;
    font-weight: 130;
    font-size: 14px;
    color: #215d99;
    border: 1px solid #c8d4e0;
    border-radius: 58px;
    background-color: #c8d4e0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 80%;
  }
  .p-footer {
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    font-weight: 180;
    font-size: 12px;
    color: #faf8f5;
    text-align: center;
    padding-top: 2px;
  }

  .copyright-txt {
    padding-top: 3rem;
  }
}
