body {
  background-color: #f9f7f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Sørger for at siden fylder hele skærmen */
  margin: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

h2 {
  margin-bottom: 1.2rem;
}

p {
  margin-bottom: 1.2rem;
}

.product_card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Billed-container */
.product_image_container {
  width: 100%;
}

.product_image {
  width: 100%;
  border-radius: 10px;
}

/* Produktinfo */
.product_info {
  padding: 10px;
}

/* Styling */
.product-brand {
  font-weight: bold;
  color: #444;
}

.product-price {
  font-weight: bold;
  color: #444;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  margin-right: 8px;
  font-size: 1rem;
}

.new-price {
  color: #d9534f; /* Rød farve */
  font-weight: bold;
  font-size: 1.2rem;
}

.discount {
  background-color: #d9534f;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.product-rating {
  margin: 10px 0;
}

/* Knap */
.buy-button {
  background: #588bb0;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  background: #003f80;
}

/* === Desktop layout === */
@media (min-width: 768px) {
  .product_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    max-width: 1000px;
    text-align: left;
  }

  .product_info {
    padding-left: 20px;
  }

  .buy-button {
    margin-top: 1.2rem;
  }

  .forside_h1 {
    text-align: center;
    padding-top: 4rem;
    font-size: 5rem;
  }
}
